@using TaskMvc.Models
@using Web.Models
@model List<TaskMvc.Models.UserModel>
@{
    ViewBag.Title = @ViewData["FirstName"] + " " + @ViewData["LastName"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>
<script type="text/javascript">
	 jQuery(function($) {
	 	$('#update-container').click(function(e) {
	 		e.preventDefault();

	 		$.ajax({
	 			url: '@Url.Action("Index", "Home")',
	 			success: function(data) {
	 				$('#container').html(data);
	 			}
	 		});
	 	})
	 })
</script>
@Html.ActionLink("Вихід", "Logout", "Account")<br />

   <h2>Вітаємо Вас @ViewData["FirstName"] @ViewData["LastName"]</h2>
<table>
    <th> @Html.ActionLink("Додати користувача", "Create","Home") |</th>
    <th> @Ajax.ActionLink("Оновити", "Index", "Home", new { }, new AjaxOptions { UpdateTargetId = "container" }, new { id = "update-container" })</th>
</table>

<table id="container">
    @Html.Partial("_UsersData")
</table>







